/*
* Override core
*/
.bs-callout {
  padding: 10px;
  font-size: 12px;
  box-shadow: 0 2px 2px #DDD; }

.btn {
  transition: all 0.25s ease-in; }
  .btn i, .btn:before {
    margin-right: 5px; }

.form-control-feedback.actex-actions {
  padding-right: 10px;
  width: auto;
  z-index: 4; }
  .form-control-feedback.actex-actions > * {
    padding: 2px;
    pointer-events: auto; }

.form-control {
  border-radius: 0; }

.input-group {
  display: table; }
  .input-group-addon {
    border: 0;
    display: table-cell; }
  .input-group .form-control {
    display: table-cell;
    float: none; }

.pagination {
  padding-left: 15px; }
  .pagination li:last-child a, .pagination li:last-child span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
  .pagination li:first-child a, .pagination li:first-child span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }

.totelem {
  padding: 6px 15px; }

.clearfix::before, .clearfix::after, .clearfix::before, .clearfix::after,
.dl-horizontal dd::before,
.dl-horizontal dd::after, .dl-horizontal dd::before, .dl-horizontal dd::after,
.container::before,
.container::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .container-fluid::before, .container-fluid::after,
.row::before,
.row::after, .row::before, .row::after,
.form-horizontal .form-group::before,
.form-horizontal .form-group::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after,
.btn-toolbar::before,
.btn-toolbar::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after,
.btn-group-vertical > .btn-group::before,
.btn-group-vertical > .btn-group::after,
.nav::before,
.nav::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after,
.navbar-header::before,
.navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-collapse::after,
.pager::before,
.pager::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .panel-body::before, .panel-body::after,
.modal-header::before,
.modal-header::after, .modal-header::before, .modal-header::after, .modal-footer::before, .modal-footer::after, .modal-footer::before, .modal-footer::after {
  display: table;
  content: " ";
  width: 100%; }

a:focus {
  outline: none; }

/* 
* Override Skin
*/
.bs-callout {
  border-left: 3px solid #1976d2;
  background: #FFF;
  color: #1e88e5;
  box-shadow: 0 2px 2px #DDD; }
  .-inverse .bs-callout {
    background: #263238;
    color: white;
    box-shadow: 0 2px 2px #DDD; }

.input-group-addon {
  background: none; }

.btn {
  border-radius: 0;
  border: 0; }
  .btn-primary {
    background: #1976d2; }
    .btn-primary:hover {
      background: #1e88e5; }
  .btn-default {
    background: #e7e7e7; }
  .btn-link {
    color: #1e88e5; }
    .btn-link:hover {
      text-decoration: none;
      color: #1e88e5; }
  .btn-success {
    background: #1e88e5;
    color: white; }
    .btn-success:hover {
      background: #1976d2; }
  .btn-danger {
    background: white;
    color: #1e88e5; }
    .btn-danger:hover {
      color: white;
      background: #1976d2; }

.input-group .btn {
  background: #1976d2;
  color: #FBFBFB; }
  .input-group .btn:hover {
    color: white;
    background: #1e88e5; }
  .input-group .btn:active:hover {
    color: white;
    background: #1e88e5; }

.pagination li a, .pagination li span {
  color: #1e88e5; }
  .pagination li a:hover, .pagination li a:focus, .pagination li span:hover, .pagination li span:focus {
    background: white;
    color: #1976d2; }

.pagination > .active a, .pagination > .active span {
  background: #1976d2;
  color: white; }
  .pagination > .active a:hover, .pagination > .active a:focus, .pagination > .active span:hover, .pagination > .active span:focus {
    background: #1976d2;
    color: white; }
