/*
* Override core
*/
.ui-dialog {
  overflow: hidden;
  box-shadow: 0 5px 15px #DDD; }
  .ui-dialog-titlebar {
    padding: 5px 15px;
    min-height: 55px; }
    .ui-dialog-titlebar .dlgTitle {
      font-size: 18px;
      margin: 0;
      margin-top: 12px; }
      .ui-dialog-titlebar .dlgTitle i {
        display: none;
        margin-right: 5px; }
        .ui-dialog-titlebar .dlgTitle i:before {
          font-size: 24px; }
    .ui-dialog-titlebar-close {
      border: 0;
      background: none;
      position: absolute;
      right: 15px;
      top: 15px;
      width: 24px;
      height: 24px; }
      .ui-dialog-titlebar-close:after, .ui-dialog-titlebar-close:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform-origin: center center; }
      .ui-dialog-titlebar-close:after {
        transform: rotate(45deg); }
      .ui-dialog-titlebar-close:before {
        transform: rotate(-45deg); }
      .ui-dialog-titlebar-close:focus {
        outline: none; }
    .ui-dialog-titlebar .dlgBottomPanel {
      padding: 15px; }
      .ui-dialog-titlebar .dlgBottomPanel a {
        margin-left: 5px; }
    .ui-dialog-titlebar .dlgTab {
      text-align: center;
      margin-top: 15px; }
      .ui-dialog-titlebar .dlgTab a {
        padding: 5px 10px; }
  .ui-dialog .actions {
    margin: 5px 15px 15px; }
  .ui-dialog-content {
    overflow: auto;
    max-height: 80vh !important; }
    .ui-dialog-content::-webkit-scrollbar {
      width: 5px; }
    .ui-dialog-content .nav-tabs {
      text-align: center;
      border-bottom: 0;
      background: #1e88e5; }
      .ui-dialog-content .nav-tabs li {
        float: none;
        display: inline-block;
        margin-bottom: 0; }
        .ui-dialog-content .nav-tabs li.active a {
          border-bottom: 3px solid white;
          background: none; }
          .ui-dialog-content .nav-tabs li.active a:hover, .ui-dialog-content .nav-tabs li.active a:focus {
            background: none;
            border: 0;
            border-bottom: 3px solid white;
            color: white; }
        .ui-dialog-content .nav-tabs li a {
          border: 0;
          border-bottom: 3px solid #1e88e5;
          color: white; }
          .ui-dialog-content .nav-tabs li a:hover {
            background: none;
            border-bottom: 3px solid #1e88e5; }
          .ui-dialog-content .nav-tabs li a:focus {
            outline: none; }
    .ui-dialog-content .tab-content {
      padding: 15px 0; }
  .ui-dialog .ffRecord,
  .ui-dialog .ffGrid {
    border-radius: 0;
    border: 0;
    box-shadow: none; }
  .ui-dialog .dlgBottomPanel.actions {
    text-align: right; }
    .ui-dialog .dlgBottomPanel.actions a {
      margin-left: 5px; }

.ui-resizable-handle {
  position: absolute; }
  .ui-resizable-handle.ui-resizable-n {
    top: 0;
    left: 10px; }
  .ui-resizable-handle.ui-resizable-e {
    top: 10px;
    right: 0; }
  .ui-resizable-handle.ui-resizable-s {
    bottom: 0;
    left: 10px; }
  .ui-resizable-handle.ui-resizable-w {
    top: 10px;
    left: 0; }
  .ui-resizable-handle.ui-resizable-n, .ui-resizable-handle.ui-resizable-s {
    height: 10px;
    width: calc(100% - 20px);
    cursor: n-resize; }
  .ui-resizable-handle.ui-resizable-e, .ui-resizable-handle.ui-resizable-w {
    height: calc(100% - 20px);
    width: 10px;
    cursor: e-resize; }
  .ui-resizable-handle.ui-resizable-se {
    bottom: 0;
    right: 0;
    cursor: se-resize; }
  .ui-resizable-handle.ui-resizable-sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize; }
  .ui-resizable-handle.ui-resizable-ne {
    top: 0;
    right: 0;
    cursor: ne-resize; }
  .ui-resizable-handle.ui-resizable-nw {
    top: 0;
    left: 0;
    cursor: nw-resize; }

.dialog-edge, .ui-resizable-handle.ui-resizable-se, .ui-resizable-handle.ui-resizable-sw, .ui-resizable-handle.ui-resizable-ne, .ui-resizable-handle.ui-resizable-nw {
  height: 10px;
  width: 10px; }

/*
* Override Skin 
*/
.ui-dialog {
  background: #FFF; }
  .ui-dialog-titlebar {
    background: #1e88e5; }
    .ui-dialog-titlebar .dlgTitle {
      color: #FFF; }
    .ui-dialog-titlebar-close:after, .ui-dialog-titlebar-close:before {
      background: #FFF; }
    .ui-dialog-titlebar .dlgTab a {
      color: #FFF;
      border-bottom: 2px solid #1e88e5; }
      .ui-dialog-titlebar .dlgTab a.selected, .ui-dialog-titlebar .dlgTab a:hover {
        border-bottom: 2px solid #f5f5f5;
        text-decoration: none; }
  .ui-dialog-content::-webkit-scrollbar {
    background: #e7e7e7; }
  .ui-dialog-content::-webkit-scrollbar-thumb {
    background: #1976d2; }

/*# sourceMappingURL=ff-jqueryui.css.map */
