body {
  font-family: verdana;
  color: #666666; }

.row {
  margin: 15px 0px; }

legend {
  font-weight: bold; }

label.spanlabel {
  display: block;
  float: left;
  width: 36%;
  font-size: 12px; }

input {
  border: 1px solid #AAA;
  border-radius: 4px;
  padding: 4px;
  width: 64%;
  padding: 10px; }

input:focus {
  border: 1px solid #2196f3;
  background: none repeat scroll 0% 0% rgba(64, 129, 245, 0.24); }

.actions {
  width: 100%;
  margin-top: 20px; }

.actions a.detail:before {
  content: ">"; }

.actions a.detail {
  float: left;
  margin: 0px 25px;
  color: #000;
  text-decoration: none;
  background: #ddd;
  padding: 10px 20px;
  border-bottom: 3px solid #999; }

.actions a.retry, .actions a#install {
  padding: 10px 10px;
  border-width: 1px 1px 4px;
  border-color: #1e88e5;
  border-style: solid;
  background: none repeat scroll 0% 0% #2196f3;
  color: #FFF;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
  margin: 0px auto;
  display: block;
  width: 140px;
  text-align: center; }

#error {
  display: block;
  height: 150px;
  overflow: auto;
  font-size: 12px;
  width: 80%;
  margin: 20px auto; }

/*Loader*/
.sk-folding-cube {
  margin: 20% auto;
  width: 5em;
  height: 5em;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
/*progress bar*/
.pace {
  margin-bottom: 30px;
  border: 1px solid #000 !important;
  position: relative;
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
  z-index: 2000;
  width: 100%;
  height: 12px;
  background: #fff; }

.pace-inactive {
  display: none; }

.progress {
  background-color: #2196f3;
  position: absolute;
  height: 25px !important;
  margin: 3.4px;
  overflow: hidden; }

.pace .pace-activity {
  position: absolute;
  right: -32px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  -o-background-size: 32px 32px;
  background-size: 32px 32px;
  -webkit-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  -moz-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  -ms-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  -o-animation: pace-theme-barber-shop-motion 500ms linear infinite;
  animation: pace-theme-barber-shop-motion 500ms linear infinite; }

@-webkit-keyframes pace-theme-barber-shop-motion {
  0% {
    -webkit-transform: none;
    transform: none; }
  100% {
    -webkit-transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }
@-moz-keyframes pace-theme-barber-shop-motion {
  0% {
    -moz-transform: none;
    transform: none; }
  100% {
    -moz-transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }
@-o-keyframes pace-theme-barber-shop-motion {
  0% {
    -o-transform: none;
    transform: none; }
  100% {
    -o-transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }
@-ms-keyframes pace-theme-barber-shop-motion {
  0% {
    -ms-transform: none;
    transform: none; }
  100% {
    -ms-transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }
@keyframes pace-theme-barber-shop-motion {
  0% {
    transform: none;
    transform: none; }
  100% {
    transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }
