div.installer {
    margin: 0 auto; 
    width:300px; 
    text-align:center;
}
div.installer h1 {
    margin-top: 30%; 
    font-family: verdana;
    font-weight:lighter;
    white-space: nowrap;
}

div.installer h1 a {
     display:block;
     padding: 10px 5px;
     border-width: 1px 1px 4px;
     border-color: #1e88e5;
     border-style: solid;
     background: none repeat scroll 0% 0% #2196f3;
     color: #FFF;
     text-transform: uppercase;
     font-size: 0.7em;
     width: 170px;
     margin: 25% auto 0px;
     text-decoration: none;
     font-weight:lighter;
     transition:0.5;
     }
     
div.installer h1 a:hover{
    background: none repeat scroll 0% 0% #1e88e5;
}