.ui-datepicker {
  background: white;
  box-shadow: 0 3px 10px -5px $box-shadow-color;
  
  &-calendar {
    
    th {
      background: $primary-color;
      color: white;
      font-weight: normal;
      padding: 5px;
    }
    
    tr {
      border-right: 1px solid $border-color;
    }
    
    td {
      border-bottom: 1px solid  $border-color;
      border-left: 1px solid $border-color;  
      
      a {
        display: block;
        text-align: center;
      }
    }
  }
}