.ui-dialog {
  overflow: hidden;
  box-shadow: 0 5px 15px $box-shadow-color;
  
  &-titlebar {
    padding: 5px 15px;
    min-height: 55px;
    
    .dlgTitle {
      font-size: 18px;
      margin: 0;
      margin-top: 12px;
      
      i {
        display: none;
        margin-right: 5px;
        
        &:before {
          font-size: 24px;
        }
      }
    }

    &-close {
      border: 0;
      background: none;
      position: absolute;
      right: 15px;
      top: 15px;
      width: 24px;
      height: 24px;

      &:after,
      &:before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform-origin: center center;
      }

      &:after {
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(-45deg);
      }
      
      &:focus {
        outline: none;
      }
    }

    .dlgBottomPanel {
      padding: 15px;

      a {
        margin-left: 5px;
      }
    }
    
    .dlgTab {
      text-align: center;
      margin-top: 15px;
      
      a {
        padding: 5px 10px;
      }
    }
  }
  
  .actions {
    margin: 5px 15px 15px;
  }
  
  &-content {
    overflow: auto;
    max-height: 80vh !important;
    
    &::-webkit-scrollbar {
      width: 5px;
    }
    
    &::-webkit-scrollbar-track {
    }
    
    .nav-tabs {
      text-align: center;
      border-bottom: 0;
      background: $primary-color;
      
      li {
        float: none;
        display: inline-block;
        margin-bottom: 0;
        
        &.active {
          
          a {
            border-bottom: 3px solid white;
            background: none;
            
            &:hover,
            &:focus {
              background: none;
              border: 0;
              border-bottom: 3px solid white;
              color: white;
            }
          }
        }
        
        a {
          border: 0;
          border-bottom: 3px solid $primary-color;
          color: white;
          
          &:hover {
            background: none;  
            border-bottom: 3px solid $primary-color;
          }
          
          &:focus {
            outline: none;
          }
        }
      }
    }
    
    .tab-content {
      padding: 15px 0;
    }
  }
  
  .ffRecord,
  .ffGrid {
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }
  
  .dlgBottomPanel {
    
    &.actions {
      text-align: right;
    
      a {
        margin-left: 5px;  
      }
    }
  }

}

.ui-resizable-handle {
  position: absolute;
  
  &.ui-resizable-n {
    top: 0;
    left: 10px;
  }
  &.ui-resizable-e {
    top: 10px;
    right: 0;
  }
  &.ui-resizable-s {
    bottom: 0;
    left: 10px;
  }
  &.ui-resizable-w {
    top: 10px;
    left: 0;
  }
  &.ui-resizable-n,
  &.ui-resizable-s {
    height: 10px;
    width: calc(100% - 20px);
    cursor: n-resize;
  }
  &.ui-resizable-e,
  &.ui-resizable-w {
    height: calc(100% - 20px);
    width: 10px;
    cursor: e-resize;
  }
  
  
  
  &.ui-resizable-se {
    @extend .dialog-edge;
    bottom: 0;
    right: 0;
    cursor: se-resize;
  }
  &.ui-resizable-sw {
    @extend .dialog-edge;
    bottom: 0;
    left: 0;
    cursor: sw-resize;
  }
  &.ui-resizable-ne {
    @extend .dialog-edge;
    top: 0;
    right: 0;
    cursor: ne-resize;
  }
  &.ui-resizable-nw {
    @extend .dialog-edge;
    top: 0;
    left: 0;
    cursor: nw-resize;
  }
}

.dialog-edge {
  height: 10px;
  width: 10px;
}