
.ui-slider{
	position:relative;
	text-align:left;
}
.ui-slider .ui-slider-handle{
	position:absolute;
	z-index:2;
	width:1.2em;
	height:1.2em;
	cursor:default;
}
.ui-slider .ui-slider-range{
	position:absolute;
	z-index:1;
	font-size:.7em;
	display:block;
	border:0;
	background-position:0 0;
}
.ui-slider.ui-state-disabled .ui-slider-handle,.ui-slider.ui-state-disabled .ui-slider-range{
	filter:inherit;
}
.ui-slider-horizontal{
	height:.8em;
}
.ui-slider-horizontal .ui-slider-handle{
	top:-.3em;
	margin-left:-.6em;
}
.ui-slider-horizontal .ui-slider-range{
	top:0;
	height:100%;
}
.ui-slider-horizontal .ui-slider-range-min{
	left:0;
}
.ui-slider-horizontal .ui-slider-range-max{
	right:0;
}
.ui-slider-vertical{
	width:.8em;
	height:100px;
}
.ui-slider-vertical .ui-slider-handle{
	left:-.3em;
	margin-left:0;
	margin-bottom:-.6em;
}
.ui-slider-vertical .ui-slider-range{
	left:0;
	width:100%;
}
.ui-slider-vertical .ui-slider-range-min{
	bottom:0;
}
.ui-slider-vertical .ui-slider-range-max{
	top:0;
}

.slider-box INPUT.slider {
	width:3em;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
}

.ui-slider-horizontal { border:1px solid $oho-blue-600; }
.ui-slider-handle { border:1px solid $border-color;  }