.ui-spinner{
	position:relative;
	display:inline-block;
	overflow:hidden;
	padding:0;
	vertical-align:middle;
}
.ui-spinner-input{
	border:none;
	background:none;
	color:inherit;
	padding:0;
	margin:.2em 0;
	vertical-align:middle;
	margin-left:.4em;
	margin-right:22px;
}
.ui-spinner-button{
	width:16px;
	height:50%;
	font-size:.5em;
	padding:0;
	margin:0;
	text-align:center;
	position:absolute;
	cursor:default;
	display:block;
	overflow:hidden;
	right:0;
}
.ui-spinner a.ui-spinner-button{
	border-top:none;
	border-bottom:none;
	border-right:none;
}
.ui-spinner .ui-icon{
	position:absolute;
	margin-top:-8px;
	top:50%;
	left:0
}
.ui-spinner-up{
	top:0;
}
.ui-spinner-down{
	bottom:0;
}
.ui-spinner .ui-icon-triangle-1-s{
	background-position:-65px -16px;
}