.bs-callout {
  border-left: 3px solid $secondary-color;
  background: white;
  color: $primary-color;
  box-shadow: 0 2px 2px #BFBFBF;

  @at-root .-inverse & {
      background: #39454A;
      color: white;
      box-shadow: 0 2px 2px #1f2a2f;
  }

}
///* reset bootstrap */
//
//.dlgTitle { margin-top:0; margin-bottom:0; }
//.row.checkbox LABEL { padding:0; }
//.row.checkbox input[type="checkbox"] { position:static; margin-left:0; line-height:1; min-height:0;}
//
//.input-group .btn:last-child { display:table-cell; width:1%; }
//
//.dropdown-menu { font-size:1em; }
//.navbar-fixed-top, .navbar-fixed-bottom {
//	z-index: 99;
//}  
//
///* fine reset bootstrap */
//
//.bs-callout {
//    padding: 20px;
//    margin: 20px 0;
//    border: 1px solid #eee;
//    border-left-width: 5px;
//    border-radius: 3px;
//}
//.bs-callout h4 {
//    margin-top: 0;
//    margin-bottom: 5px;
//}
//.bs-callout p:last-child {
//    margin-bottom: 0;
//}
//.bs-callout code {
//    border-radius: 3px;
//}
//.bs-callout+.bs-callout {
//    margin-top: -5px;
//}
//.bs-callout-default {
//    border-left-color: #777;
//}
//.bs-callout-default h4 {
//    color: #777;
//}
//.bs-callout-primary {
//    border-left-color: #428bca;
//}
//.bs-callout-primary h4 {
//    color: #428bca;
//}
//.bs-callout-success {
//    border-left-color: #5cb85c;
//}
//.bs-callout-success h4 {
//    color: #5cb85c;
//}
//.bs-callout-danger {
//    border-left-color: #d9534f;
//}
//.bs-callout-danger h4 {
//    color: #d9534f;
//}
//.bs-callout-warning {
//    border-left-color: #f0ad4e;
//}
//.bs-callout-warning h4 {
//    color: #f0ad4e;
//}
//.bs-callout-info {
//    border-left-color: #5bc0de;
//}
//.bs-callout-info h4 {
//    color: #5bc0de;
//}
//
//
///* Tab Icon */
//.nav-tabs > li .close {
//	margin: 0 0 0 10px;
//	font-size: 14px;
//}
//.nav-tabs {
//    margin-bottom: 10px;
//}
///*!
// * bootstrap-vertical-tabs - v1.2.1
// * https://dbtek.github.io/bootstrap-vertical-tabs
// * 2014-11-07
// * Copyright (c) 2014 Ä°smail Demirbilek
// * License: MIT
// */
//.tabs-left, .tabs-right {
//  border-bottom: none;
//  padding-top: 30px;
//}
//.tabs-left {
//  border-right: 1px solid #ddd;
//}
//.tabs-right {
//  border-left: 1px solid #ddd;
//}
//.tabs-left>li, .tabs-right>li {
//  float: none;
//  margin-bottom: 2px;
//}
//.tabs-left>li {
//  margin-right: -1px;
//}
//.tabs-right>li {
//  margin-left: -1px;
//}
//.tabs-left>li.active>a,
//.tabs-left>li.active>a:hover,
//.tabs-left>li.active>a:focus {
//  border-bottom-color: #ddd;
//  border-right-color: transparent;
//}
//
//.tabs-right>li.active>a,
//.tabs-right>li.active>a:hover,
//.tabs-right>li.active>a:focus {
//  border-bottom: 1px solid #ddd;
//  border-left-color: transparent;
//}
//.tabs-left>li>a {
//  border-radius: 4px 0 0 4px;
//  margin-right: 0;
//  display:block;
//}
//.tabs-right>li>a {
//  border-radius: 0 4px 4px 0;
//  margin-right: 0;
//}
//.sideways {
//  margin-top:50px;
//  border: none;
//  position: relative;
//}
//.sideways>li {
//  height: 20px;
//  width: 120px;
//  margin-bottom: 100px;
//}
//.sideways>li>a {
//  border-bottom: 1px solid #ddd;
//  border-right-color: transparent;
//  text-align: center;
//  border-radius: 4px 4px 0px 0px;
//}
//.sideways>li.active>a,
//.sideways>li.active>a:hover,
//.sideways>li.active>a:focus {
//  border-bottom-color: transparent;
//  border-right-color: #ddd;
//  border-left-color: #ddd;
//}
//.sideways.tabs-left {
//  left: -50px;
//}
//.sideways.tabs-right {
//  right: -50px;
//}
//.sideways.tabs-right>li {
//  -webkit-transform: rotate(90deg);
//  -moz-transform: rotate(90deg);
//  -ms-transform: rotate(90deg);
//  -o-transform: rotate(90deg);
//  transform: rotate(90deg);
//}
//.sideways.tabs-left>li {
//  -webkit-transform: rotate(-90deg);
//  -moz-transform: rotate(-90deg);
//  -ms-transform: rotate(-90deg);
//  -o-transform: rotate(-90deg);
//  transform: rotate(-90deg);
//}