.postfix-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.postfix-feedback.actex-actions {
  padding-right: 10px;
  width: auto;
  > * {
    padding: 2px;
  }

}