.img-thumbnail{
    display:inline-block;
    max-width:100%;
    height:auto;
    padding:4px;
    line-height:1.42857143;
    background-color:$base-color-bg;
    border:1px solid $border-color;
    border-radius:4px;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}

.img-circle { 
    border-radius:50%
}

.text-overflow {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-lowercase {
  	text-transform: lowercase;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}

.text-muted{
    color: #777;
}
.text-primary{
    color: #337ab7;
}
.text-success{
    color: #3c763d;
}
.text-info{
    color: #31708f;
}
.text-warning{
    color: #8a6d3b;
}
.text-danger{
    color: #a94442;
}

.bg-primary{
    color: #fff;
    background-color: #337ab7;
}
.bg-success{
    background-color: #dff0d8;
}
.bg-info{
    background-color: #d9edf7;
}
.bg-warning{
    background-color: #fcf8e3;
}
.bg-danger{
    background-color: #f2dede;
}