.ffGrid {
  background: $base-color-bg;
  
  h2 {
    color: $primary-color;
  }
  
  .table {
    
    th { 
      /*color: $text-color-light;
      background: $primary-color; 
      
      a {
         /*color: $text-color-light;
      }
      
      &:last-child {
        border-right: 1px solid $primary-color;
      }
      
      /*&.active {
        background: $secondary-color;
      } MIRKO*/
    }
    
    
      
    td {
        /*
      &:first-child {
        border-left: 1px solid $border-color;
      }
        
      &:last-child {
        border-right: 1px solid $border-color;
      }
        MIRKO*/
    }
      
    
    
    tr {
      /*
      &:last-child {
        border-bottom: 1px solid $border-color;
      }
      MIRKO*/
    }
    
    
    
  }
  
}