.modal {
  
  &-header {
    background: $primary-color;
    color: white;
  }
  
  &-tabs {
    background: $primary-color;
    
    .nav-tabs {
        display:table;
        width:100%;
      li {
      display:table-cell;
        
        &.active {
          
          a {
            color:$primary-color;
            background: $white;
            border:0;
            
            &:hover,
            &:focus {
              color:$primary-color;
              background: $white;
            }
          }
        }
        
        a {
       
          color: white;
        
          &:hover {
            background: none;  
            
          }
        }
      }
    }
  }
    /*===============content icon===============*/
    .vg-content{
        color: $content-mod-color;
    }
    .vg-widget{
        color: $widget-mod-color;
    }
    .vg-menu{
        color: $menu-mod-color;
    }
    .vg-applet{
        color: $applet-mod-color;
    }
    .vg-addon{
        color: $addon-mod-color;
    }


}

.ff-modal {
  background: rgba(0,0,0, 0.5);
  
  &-highlight {
    
    td {
      color: white;
      border: 1px solid rgba(0, 151, 167, 0.15);
      background: rgba(0, 151, 167, 0.4);
      
      a {
        color: white;
      }
    }
    
  }
}