// Colors

$almost-black: #263238;
$almost-white:#f9f9f9;
$almost-black-hover: #20262d;
$almost-white-hover:#fbfbfb;

$dark-grey: #354147;
$white:#FFF;

$dark-text: #353535;
$soft-white: #FBFBFB;

$grey: #444;
$soft-grey: #DDD;
$light-grey: #e7e7e7;

$dirty-white: #f5f5f5;


$green: #27ae60;
$red: #c0392b;

//New Colors
$oho-blue-700: #1976d2;
$oho-blue-600: #1e88e5;
$oho-cyan-500: #00bcd4;
$oho-lightgreen-500: #8bc34a;
$oho-orange-500: #ff9800;
$oho-amber-500: #ffc107;
$oho-purple-500: #9c27b0;

//Color association
$primary-color: $oho-blue-600;
$secondary-color: $oho-blue-700;
$tird-color: $light-grey;

$content-mod-color: $oho-cyan-500;
$widget-mod-color: $oho-lightgreen-500;
$menu-mod-color: $oho-orange-500;
$applet-mod-color: $oho-amber-500;
$addon-mod-color: $oho-purple-500;

$base-color-bg: $white;
$base-color-bg-inverse: $almost-black;

$menu-main-bg: $primary-color;
$menu-main-bg-inverse: $almost-black;
$menu-main-bg-hover: $secondary-color;
$menu-main-bg-inverse-hover: $almost-black-hover;

$menu-secondary-bg: $secondary-color;
$menu-secondary-bg-inverse: $dark-grey;

$btn-bg: $light-grey;
$btn-bg-inverse: $grey;

$text-color: $dark-text;
$text-color-light: $white;
$text-color-inverse: $soft-grey; 
$text-color-danger: $red;
$text-color-success: $green;


$text-link: $primary-color;
$text-link-inverse: $primary-color;

$border-color-primary: $primary-color;
$border-color: $light-grey;
$border-color-light: $dirty-white;
$border-color-inverse: $grey;
$border-color-danger: $red;
$border-color-success: $green;

$box-shadow-color: $soft-grey;

$roboto: 'Roboto', sans-serif;