.token {
  
  &-input-dropdown {
    border: 1px solid $border-color;
    background: white;
  }
  
  &-input-token {
    border: 1px solid $border-color;
  }
  
  &-input-delete-token {
    color: $text-color-light;
    background: $primary-color;
  }
  
}
.autocompletetoken {
  .autocomplete-wrap{
    border-bottom: 2px solid $primary-color;
  }
}
  
