//.ui-dialog {
//  
//  &-titlebar {
//    background: $primary-color;
//    border-bottom: 1px solid $secondary-color;
//    
//    &-close {
//      &:after,
//      &:before {        
//        background: $base-color-bg;
//      }
//    }
//  }
//  
//  .actions {
//    a {
//      &.btn-success {
//        color: $text-color-light;
       
//      }
//    }
//  }
//  
//  &::-webkit-scrollbar {
//    width: 2px;
//    background: $primary-color;
//  }
//    
//  &::-webkit-scrollbar-thumb {
//    background: $primary-color;
//  }
//  
//}
//.ui-widget-overlay {
//  opacity: 0.6;
//  background: $primary-color;
//}

.ui-dialog {
  background: $base-color-bg;

  &-titlebar {
    background: $primary-color;
    
    .dlgTitle {
      color: $text-color-light;
    }
    
    &-close {
      &:after,
      &:before {        
        background: $base-color-bg;
      }
    }
    
    .dlgTab {
      a {
        color: $text-color-light;
        border-bottom: 2px solid $primary-color;
        
        &.selected,
        &:hover {
          border-bottom: 2px solid $border-color-light;
          text-decoration: none;
        }
      }
    }
  }
  
  &-content {
    
    &::-webkit-scrollbar {
      background: $tird-color;
    }
    
    &::-webkit-scrollbar-thumb {
      background: $secondary-color;
    }
  }
}