.ffDetails {
  padding: 15px;
  
  h3 {
    font-size: 22px;
    color: $primary-color;
  }
   .head_details{
        color: $primary-color;
        font-size: 12px;
        
        .ffField{
        font-weight:400;
        }
    
   }
}