.ffGrid {
  margin: 15px 0;
  border-radius: 3px;
  padding: 15px 0 5px;
  
  h2 {
    font-size: 22px;
  }
  
  table {
    width: 100%;
  }
  
  .table {
    width: calc(100% - 30px);
    margin: 0 15px 15px;
    
    th {
      /*font-size: 12px;
      font-weight: normal; MIRKO*/
     
      a {
        color: $dark-text;
        
        &:hover {
          text-decoration: none;
        }
        
        i {
          margin-left: 5px;
        }
      }
    }
    
    td {
      vertical-align: middle;
      
      a {
        &.fa {
          margin: 0 8px;
          margin-top: -8px;
          font-size: 18px;
        }
        
        &:hover {
          text-decoration: none;
        }
        
        i {
          
          &.fa {
            margin: 0 8px;
            margin-top: -8px;
            font-size: 18px;
          }
        }
        
        &.vg-seo {
          font-size: 18px;
          position: relative;
          width: 14px;
          margin-right: 20px;
          vertical-align: middle;
          
          &:before {
            font-size: 29px;
            line-height: 18px;
          }
          
          &:after {
            font-size: 25px;
            padding: 0;
            line-height: 18px;
            position: absolute;
            right: -10px;
            top: 0;
          }
          
          &:focus {
            text-decoration: none;
          }
        }
      }
      
      &.ffButton {
        width: 20px;
      }
      
      &.mixed {
        border-left: 0;

        td {
          border: 0;
        }
        
        tr {
          border-bottom: 0;
        }
      }
    }
    
    
  }
  
  .draggable {
      
      td {
        
        &:first-child {
          background-position: 7px 50%;
          padding-left: 10px;
          border-left: 1px solid $border-color;
          cursor: n-resize; 
        }
        
        &:last-child {
          border-right: 1px solid $border-color;
        }
      }
      
    }

  .search {
    & a {
      padding: 0 10px;
      
      &:before {
        margin-right: 0;
      }
    }
    
    &:not(a) {
      margin-bottom: 25px;
    }
  }
  .adv-search {
    background: $menu-secondary-bg;
    box-shadow: 0 3px 10px -5px $box-shadow-color;
    border: 1px solid $border-color;
    padding: 10px;
    position: absolute;
    width: calc(100% - 30px);
    
    .row {
      margin: 0;
    }
  }
  .actions {
    margin-bottom: 25px;
  }
  
}