.ffRecord {
  margin: 15px 0;
  border-radius: 3px;
  padding: 15px 0;
  overflow: hidden;
  
  h2 {
    font-size: 22px;
    padding: 0 15px;
    margin: 0 0 10px;
  }
  
  label {
    font-style: italic;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
  }
  
  .group {
    
    &-standard {
      
    }
    
    &-system {
      border-left: 1px solid $border-color;
      
      .dlg {
        
        &-setting,
        &-seo {
          background: $menu-main-bg;
          border-radius: 2px;
          padding: 10px 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}
