.helper {
  &-content {
    position: absolute;
    background: white;
    border-radius: 2px;
    border:1px solid $dirty-white;
    box-shadow: 0 2px 10px -5px $box-shadow-color;
    font-size: 12px;
    text-align: left;
    padding: 5px;
    min-width: 200px;
    z-index: 1;
    border-radius: 2px;
  }
}