.keywords-cloud {
  background: white;
  margin: 15px 0;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 2px 10px -5px $box-shadow-color;
  
  table {
    thead {
      color: white;
      font-size: 12px;
      text-shadow: none;
      font-weight: normal;
      background: $secondary-color;
    }
    
    &.table {
      tr {
        td {
          vertical-align: middle;
          padding: 4px 8px;
        }
      }
    }
  }
  .fa-times-circle {
    margin: 0;
    color: $red;
    float: none;
  }
  .fa-check-circle {
    margin-right: 0;
    float: none;
    color: $green;
  }
}