.modal {
  &-dialog {
    
    @media (min-width: $screen-lg-min) {
    width:1230px;
    }

  }
  
  &-full {
    width: 80%;
    
  }
  
  &-huge {
    min-width: 80%;
  }
  
  &-content {
    border-radius: 0;
    border: 0;
  }
  
  &-header {
    min-height: 55px;
    border-bottom: 0;
    font-size: 18px;
    
    button {
      z-index: 2;
      position: absolute;
      background: none;
      border: 0;
      outline: none;
      
      &.resize {
        right: 50px;
        top: 15px;
        line-height: 1;

        &:focus {
          outline: none;
        }
      }

      &.close {
        font-size: 0;
        right: 15px;
        top: 15px;
        width: 24px;
        height: 24px;
        opacity: 1;

        &:after,
        &:before {
          content: '';
          display: block;
          width: 1px;
          background: white;
          height: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          transform-origin: center center;
        }

        &:after {
          transform: rotate(45deg);
        }

        &:before {
          transform: rotate(-45deg);
        }
      }

    }
  }
  
  &-tabs {
    
    .nav-tabs {
      text-align: center;
      border-bottom: 0;
      
      li {
        float: none;
        display: inline-block;
        margin-bottom: 0;
        
        &.active {
          
          a {
            
            &:hover,
            &:focus {
              border: 0;
            }
          }
        }
        
        a {
          border: 0;
          
          &:hover {
          }
        }
      }
    }
    
  }
  
  &-footer {
    border-top: 0;
  }

}

.ff-modal {
  outline: 0;  
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  padding: 0 10px 10px 10px;
  
  &::-webkit-scrollbar {
    width: 3px;
    background: rgba(0, 0, 0, 0.5);
    
  }
  
  &::-webkit-scrollbar-thumb {
    background: $base-color-bg-inverse;
  }
  
  .ffRecord,
  .ffGrid,
  .ffDetails {
    margin: 0;
    padding: 0;

    .table {
      margin: 0;
      width: 100%;
    }
  }
  
  .CodeMirror {
    margin: 0 -15px -15px;
    background: $base-color-bg;
    border: $border-color;
  }
  
  &-open {
   overflow: hidden;
  }
  
  &-dialog {
    position: relative;
    max-width: 100%;
    margin: 30px auto 0;
  }
  
  &-highlight {
    border: 2px solid $border-color;
    
    td {
      
    }
  }
  
  
  .dialogActionsPanel {
    margin-bottom: 15px;
  }
  
  &.wait {
    cursor: wait;
  }
  
  .slug-gotourl {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    font-size: 14px;
    opacity: 0.8;
  }
  
}