  .nav-tabs {
    li {
      a {
        padding: 5px 10px;
        margin-right: 0;
        border-radius: 0;
        border: 0;
        border-bottom: 2px solid transparent;
        
        &:hover {
          background: none;
        }
      }
      
      &.active {
        a {
          border: 0;
          background: none;
          border-bottom: 2px solid $secondary-color;
          
          &:hover,
          &:focus {
            border: 0;
            background: 0;
            border-bottom: 2px solid $primary-color;
          }
        }
      }
    }
    
    &.tabs-left {
      border-bottom: none;
      border-right: 1px solid $dirty-white;
      margin-right: -15px;
      margin-left: -15px;
      
      li {
        float: none;
        display: block;
        
        &.active {
          
          a {
            border: 0;
            border-bottom: 1px solid $secondary-color;

            &:focus,
            &:hover {
              border: 0;
              border-bottom: 1px solid $secondary-color;
              outline: none;
            }
          }
        }
        
        a {
          border: 0;
          border-bottom: 1px solid $dirty-white;
          padding: 10px 5px 10px 0;
          
          &:hover {
            background: none;
            border-bottom: 1px solid $secondary-color;
          }
        }
        
        &:last-of-type {
          a {
            border-bottom: 0;
          }
        }
      }
    }
  }