.token {
  
  &-input-list {
    display: inline-block;
    margin-bottom: 0;
  }
  &-input-dropdown {
    width: calc(100% - 60px);
    padding: 5px;
  }
  
  &-input-token {
    margin: 2px;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    
    p {
      display: inline-block;
      margin: 0;
    }
  }
  
  &-input-delete-token {
    margin-left: 5px;
    border-radius: 2px;
    line-height: 1;
    padding: 0px 5px 2px;
    vertical-align: middle;
  }
  
  &-input-input-token {
    display: inline-block;
  
    input {
      min-width: 60px;
      border: 0;
    }
  }
}
.autocompletetoken {
  
  label {
    display: block;
  }
  
  &-combo {
    float: right;
    line-height: 28px;
    margin-right: 5px;
  }  
}
