/*
* Include constant, skin variables, and utility
*/
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

ul {
  list-style: none; }

.loading {
  opacity: 0.7;
  pointer-events: none; }

.loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: -0.5em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease; }

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em , 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }
.pbar {
  pointer-events: none; }
  .pbar:before {
    content: "";
    height: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    background: #1e88e5; }
  .pbar:after {
    content: "";
    height: 2px;
    border-radius: 100% 25% 25% 100%;
    opacity: 1;
    position: fixed;
    z-index: 1100;
    top: 0;
    animation: pbloader 2s infinite cubic-bezier(0.45, 1.03, 0.32, 0.905);
    background: #FFF;
    box-shadow: 0 0 10px #1976d2; }

@keyframes pbloader {
  0% {
    width: 0%;
    left: -100px;
    opacity: 0; }
  10% {
    opacity: 1; }
  50% {
    width: 20%; }
  80% {
    width: 100%; }
  100% {
    left: 100%;
    width: 100%; } }
.modal {
  /*===============content icon===============*/ }
  .modal-header {
    background: #1e88e5;
    color: white; }
  .modal-tabs {
    background: #1e88e5; }
    .modal-tabs .nav-tabs {
      display: table;
      width: 100%; }
      .modal-tabs .nav-tabs li {
        display: table-cell; }
        .modal-tabs .nav-tabs li.active a {
          color: #1e88e5;
          background: #FFF;
          border: 0; }
          .modal-tabs .nav-tabs li.active a:hover, .modal-tabs .nav-tabs li.active a:focus {
            color: #1e88e5;
            background: #FFF; }
        .modal-tabs .nav-tabs li a {
          color: white; }
          .modal-tabs .nav-tabs li a:hover {
            background: none; }
  .modal .vg-content {
    color: #00bcd4; }
  .modal .vg-widget {
    color: #8bc34a; }
  .modal .vg-menu {
    color: #ff9800; }
  .modal .vg-applet {
    color: #ffc107; }
  .modal .vg-addon {
    color: #9c27b0; }

.ff-modal {
  background: rgba(0, 0, 0, 0.5); }
  .ff-modal-highlight td {
    color: white;
    border: 1px solid rgba(0, 151, 167, 0.15);
    background: rgba(0, 151, 167, 0.4); }
    .ff-modal-highlight td a {
      color: white; }

/*# sourceMappingURL=main.css.map */
