.hide_it, .hidden { display: none !important; }

.nopadding { padding: 0 !important; margin: 0 !important; }
.padding {
	padding-left: 15px;
	padding-right: 15px;
}

/* FF Lazy System*/ 
/*IMG.lazy {border: 1px solid $tird-color;}
.lazyloader { border: 1px solid $tird-color;}*/ 
.lazyloader + IMG, .lazyloader + PICTURE { display: none;}