.pbar {
  pointer-events:none;
  
  &:before {
    content: "";
    height: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    background: $primary-color;
  }
  
  &:after {
	content:"";
	height:2px;
	border-radius: 100% 25% 25% 100%;
	opacity:1;
	position:fixed;
	z-index: 1100;
	top:0;
	animation:pbloader 2s infinite cubic-bezier(0.450, 1.030, 0.320, 0.905);
	background:$base-color-bg;
	box-shadow:0 0 10px $secondary-color;
  }
}

@keyframes pbloader {
	0% { width:0%; left:-100px; opacity:0;}
	10% { opacity:1; }
	50% { width:20%; }
	80% { width:100%; }
	100% { left:100%; width:100%; }
}