.clearfix, .clearfix, 
.dl-horizontal dd, .dl-horizontal dd, 
.container, .container, .container-fluid, .container-fluid, 
.row, .row, 
.form-horizontal .form-group, .form-horizontal .form-group, 
.btn-toolbar, .btn-toolbar, .btn-group-vertical > .btn-group, 
.btn-group-vertical > .btn-group, 
.nav, .nav, .navbar, .navbar, .navbar-header, 
.navbar-header, .navbar-collapse, .navbar-collapse, 
.pager, .pager, .panel-body, .panel-body, 
.modal-header, .modal-header, .modal-footer, .modal-footer {

    &::before, &::after{
        display: table;
        content: " ";
        width:100%;
    }

}
a:focus {
    outline: none;
}