.btn {
  transition: all 0.25s ease-in;
  
  i,
  &:before {
    margin-right: 5px;
  }
}

.form-control-feedback.actex-actions {
  padding-right: 10px;
  width: auto;
  z-index: 4;
  > * {
    padding: 2px;
    pointer-events: auto;
  }

}
.form-control{
    border-radius:0;
}