.pagination {

    padding-left: 15px;
        
    li:last-child{
        
        a, span{
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        
    }
    li:first-child{
        
        a, span{
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        
    }

}
.totelem{
    padding:6px 15px;
}