.layout-container {
  &.add-block {
    padding: 15px;
    
    legend {
      margin: 15px 0;
      border-bottom: 0;
      padding: 10px 0;
      
      a.fa-question-circle {
        font-size: 20px;
        
        &:hover {
          text-decoration: none;
        }
      }
    }
    
    .item {
      display: inline-block;
      float: none;
    }
  }
}