.cmppanel {
  visibility: hidden;
  height: 100%;
  position: fixed;
  background: $menu-main-bg;
  overflow: auto;
  
  @media (min-width: $screen-sm-min) {
    right: -25%;
  }
    
  @media (min-width: $screen-lg-min) {
    right: -16.333%; 
  }
  
  
  @at-root .-rightview & {
    visibility: visible;
    right: 0;
  }
  
  scrollbar-base-color,
    &::-webkit-scrollbar {
      width: 6px;
      background: $base-color-bg;
  }
    
    scrollbar-track-color,
    &::-webkit-scrollbar-thumb {
      background: $dark-grey;
  }
    
  ul {
    float: none;
    padding: 0 10px;
    
    
    li {
      color: $text-color-light;
       border-bottom: 1px solid $secondary-color;
      
      h4 {
        font-size: 18px;
        margin: 30px 0 0;
        font-weight: 400;
        padding-bottom: 10px;
        border-bottom: 2px solid $border-color-light;

      }
      
      i {
        font-size: 18px;
        opacity: 0.8;
        margin-right: 15px;
        vertical-align: middle;
        
        &.fa {
        
        }
      }
      
      a {
        color: $text-color-light;
        font-weight: 300;
        opacity: 0.8;
        transition: all 0.25s ease-in;
        padding: 15px 15px;
        
        &:focus,
        &:hover {
          background: none;
          opacity: 1;
        }
        
        &.fa,
        &.fa-2x {
          font-size: 1em;
        }
        
      }
      
      span {
        
        &:first-child {
          display: block;
        }
        &.sub-title {
          font-size: 9px;
          margin: 0;
          line-height: 1;
          opacity: 0.6;
        }
        
        &.nav-label {
          float: right;
          background: $secondary-color;
          border-radius: 2px;
          padding: 4px;
          letter-spacing: 0;
          line-height: 1;
          vertical-align: middle;
          display: inline-block;
          text-align: center;
          font-size: 11px;
          margin-top: -3px;
        }
        
        &.nav-controls {
          position: absolute;
          top: 15px;
          right: 0;
          padding: 0;
          
          a {
            padding: 0;
            margin-right: 4px;
            
            &:focus,
            &:hover {
              text-decoration: none;
            }
          }
        }
       
      }
     
      &.active {
        background: $menu-main-bg;
        color:$text-color-light;
        
        > a {
          opacity: 1;
        }
      }
      

    }
    &.nav-pills {
      margin: 0 -15px 0;
      
      li {
        
        a {
          @extend .nav-item;
          line-height: 1.1;
          border-radius: 0;
          border-right: 2px solid transparent;
          
          &.active {

          }
          
        }
        
        
        > span {
          &:not(.nav-controls) {
            @extend .nav-item;
          }
        }
        
        .nav-controls {
          position: absolute;
          right: 4px;
          top: 0;
          display: inline-block;
          
          a {
            padding: 0;
            margin-left: 0;
            background: none;
            
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    &.nav-tabs{
    background:$menu-secondary-bg;
    padding:0;
    margin:0 -15px;
    }
  }
    
     
}

.cmppanel.-inverse {
    background: $menu-main-bg-inverse;

    ul {

        li {
        color: $text-color-light;
        border-bottom: 1px solid $border-color-inverse;

        h4 {
            border-bottom: 2px solid $border-color-light;
        }

        a {
            color: $text-color-light;
        }

        span {

            &.nav-label { 
            background: $secondary-color;
            }

        }

        &.active {
            background: rgba(55, 71, 79, 0.3);
        }


        }
        &.nav-pills {
            li {

                a {

                &.active {
                    background: $secondary-color;
                }

                }
            }
        }
    }

}

.nav-item {
  font-size: 13px;
  font-weight: 300;
  border-radius: 2px;
  margin: 4px 0;
  padding: 5px 0 5px 22px;
}

