.sidemenu {
  background: $menu-main-bg;
  height: 100%;
  position: fixed;
  left: 0;
  box-shadow: 2px 0px 10px -5px $box-shadow-color;

  @at-root .-rightview & {
    
    @media (min-width: $screen-sm-min) {
      left: -25%;
    }
    
    @media (min-width: $screen-lg-min) {
      left: -16%; 
    }
  }
  
  &__head {
    position: relative;
    background: $menu-main-bg;
    padding: 0;
    &__min{
      height: 85px;
    }
    
    .domain img{
      height: auto;
      display: block;
      margin:15px auto;
      max-height: 66px;
      padding: 0 1em;
    }
    .input-group {
      border-radius: 0;
      border-top:1px solid #111;
      border-bottom:1px solid #111;
      padding: 9px 18px 9px 0;
      
      &-addon {
        border-bottom: 0;
      }
      
      span {
        padding: 12px 20px;
        i {
          color: $text-color-light;
        }  
      }
      
      input {
        border: 0;
        height: 38px;
        padding: 12px;
       
      }
    }
    .accountmenu{
      img{
        margin: 0 auto;
      }
    }
  }
  
  ul {
    float: none;

    scrollbar-base-color,
    &::-webkit-scrollbar {
      width: 6px;
      background: $base-color-bg;
    }
    
    scrollbar-track-color,
    &::-webkit-scrollbar-thumb {
      background: $dark-grey;
    }

    li {
      float: none;
      color: $text-color-light;

      .collapse, .collapsing{
          padding: 0;
      }
      
      &.active{
        a{
          background: $primary-color;
          &:hover, &:focus{
            background-color: $menu-main-bg-hover;
          }
        }
        ul li a{
            background: none;
          }
      }
      h4 {
        font-size: 18px;
        margin: 0;
        font-weight: normal;
        border-bottom: 2px solid $border-color-light;
        padding: 15px 18px 15px 18px;
      }
      
      i {
        font-size: 16px;
        opacity: 0.8;
        margin-right: 15px;
        vertical-align: middle;
        
        &.fa {
        display:none;
        }
      }
      a, div {
        color: $text-color-light;
        font-weight: 300;
        opacity: 0.8;
        transition: all 0.25s ease-in;
        padding: 15px 18px 15px 18px;
        
        &:focus,
        &:hover {
          opacity: 1;
          background-color: $menu-main-bg-inverse-hover;
        }
        
        &.fa,
        &.fa-2x {
          font-size: 1em;
        }
        
      }
      p {
          font-size: 9px;
          margin: 0;
          line-height: 1;
          opacity: 0.5;
          padding: 0 18px 15px 18px;
          margin-top:-15px;

        }
      span:empty{
        display:none;
      }
      span {
        
        &:first-child {
          display: block;
        }
        
        &.nav-label {
          float: right;
          background: $secondary-color;
          border-radius: 2px;
          padding: 4px;
          letter-spacing: 0;
          line-height: 1;
          vertical-align: middle;
          display: inline-block;
          text-align: center;
          font-size: 11px;
          margin-top: -3px;
        }
        
        &.nav-controls {
          position: absolute;
          top: 15px;
          right: 15px;
          padding: 0;
          
          a {
            padding: 0;
            margin-right: 4px;
            background: none;
            
            &:focus,
            &:hover {
              text-decoration: none;
            }
          }
        }
       
      }
     
      &.active {
        
        &:before,
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          z-index: -1;
          left: -15px;
          height: 100%;
          width: 15px;
        }
        &:after {
          right: -15px;
          left: auto;
        }
        
        > a {
          opacity: 1;
        }
      }

    }
    &.-withicons{
      li{
        .collapse, .collapsing{
            padding: 0;
        }
        h4{
          padding: 15px 18px 15px 54px;
        }
        a, div {
          color: $text-color-light;
          font-weight: 300;
          opacity: 0.8;
          transition: all 0.25s ease-in;
          padding: 15px 18px 15px 54px;

          i.fa{
            display:inline-block;
            width: 0;
            height:18px;
            margin-left: -36px;
            margin-right: 36px;
          }

        }
        ul.nav-pills{
          li{
            a, div, p {
              color: $text-color-light;
              font-weight: 300;
              opacity: 0.8;
              transition: all 0.25s ease-in;
              padding: 15px 18px 15px 60px;
              background-position: 30px 10px; 

              i.fa{
                display:inline-block;
                width: 0;
                height:18px;
                margin-left: -36px;
                margin-right: 36px;
              }
              &.active, &:hover{
                opacity: 1;
                background: none;
                background-position: 30px 10px; 
              }
            }
            .nav-controls{
                a{
                  padding: 0;
                  background-color: none;
                }
            }
            p{
              padding-top:0;
            }
          }
        }
      }
    }
    
    &.nav-pills {
      margin: 0;


      
      li {
        a {
          font-size: 13px;
          padding: 10px 24px 10px 24px;
          line-height: 1.1;
          border-radius: 2px;
          margin: 2px 0;

          
          &.active {
            opacity:1;
          }
          
          @for $i from 1 through 9 {
            &.-pad#{$i} {
              margin-left: 10px * $i
            }
          }
          
          i {
            width: 20px;
            display: inline-block;
            margin-left: 0;
            text-align: center;
            vertical-align: middle;
            display:none;
          }
          
        }
        
        > span {
          
          &:not(.nav-controls) {
            padding: 10px 0 10px 10px;
            opacity: 0.2;
            font-size: 13px;
            font-weight: 300;
          }
          
        }
        
        .nav-controls {
          position: absolute;
          right: 15px;
          top: 10px;
          display: inline-block;
          
          a {
            padding: 5px 0;
            margin-left: 0;
            background: none;
            
            &:hover {
              text-decoration: none;
            }
          }
        }
        
        + li {
          margin-left: 0;
        }
      }
    }
  }

  .navbar-nav {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    padding: 0;
    clear: both;
  }
  
  .adminmenu {
    background:$menu-secondary-bg;
    ul {
      text-align: center;
      margin: 0;
      display: table;
      width: 100%;
       
      li {
        display: inline-block;
        border-bottom: 0;
        display: table-cell;
        text-align:center;
        padding:10px 0px;

        a {
          padding: 8px 10px;

          &:hover{
            opacity: 1;
            background: none;
          }
           
          i {
            margin-left: 0;
            margin-right: 0;
            display: inline-block;
          }
        }
            &.active{
            background:$menu-main-bg;
            } 
        }
    }
  } 

}

.-inverse{
    background: $menu-main-bg-inverse;

   .sidemenu__head {
    background: $menu-main-bg-inverse;
    
      .input-group {
        box-shadow: none;

        span {
      
            i {
            color: $text-color-light;
            }  
        }
      }
      .accountmenu{
        color:$text-color-light;
        padding:20px;
        
        .dropdown-menu{
          width:100%;

          a{
            color:$text-color;
            padding: 6px 20px;

            &:hover, &:focus{
              background-color:#f5f5f5
            }
          }
        }
      }
    }
    
   ul{
    
    scrollbar-base-color,
    &::-webkit-scrollbar {
      background: $dark-grey;
    }
    
    scrollbar-track-color,
    &::-webkit-scrollbar-thumb {
      background: $base-color-bg;
    }

    li {
      color: $text-color-light;

      a {
        color: $text-color-light;     

        &:hover{
          background-color: $menu-main-bg-inverse-hover;
        }
      }
    }
  }
    .adminmenu {
        background:$menu-secondary-bg-inverse;

        ul li.active{
            background:$menu-main-bg-inverse;
        }
    }       

}
@media (max-width: $screen-md-min) {
    .sidemenu__head {
        height:auto;
        
        .input-group{
            display:none;
        }
    
    }
}
@media (min-width :$screen-sm-min ) and (max-width: $screen-md-min){
    .sidemenu{
        
        .adminmenu{
            ul li{
                display:block;
                
            }
        }

        ul.navbar-nav {
            overflow:visible;
            > li {
                text-align:center;
                position:relative;
                 >a{
                    > span{
                        display:none;
                    }
                    i{
                        margin-right:0;
                    }
                }
                
                .nav-controls{
                    display:none;
                }
                .collapse{
                    position:absolute;
                    right:-100%;
                    width: 250px;
                    top: 0;
                    left: 110%;
                    background:$menu-main-bg;
                    text-align:left;
                    
                    .nav-controls{display:block; }
                }
            }
        }
            
    }
    .-inverse{
        ul.navbar-nav {
            > li {
                .collapse{
                    background:$menu-main-bg-inverse;

                }
            }
        }
    }

}
.button-menu-mobile {
      background: $primary-color;
      border: none;
      color: #fff;
      font-size: 32px;
      line-height: 70px;
      height: 70px;
      width: 70px;
      padding: 0 25px;
      float: left;
      margin-left: -15px;
  }