.header {
  background-color: $base-color-bg;
  box-shadow: 0 2px 10px -5px $box-shadow-color;
  margin: 0;
  width: auto;
  
  @at-root .-rightview & {
    left: 11px;
  }
  
  &__top {
    margin: 0;
    
    .navbar-brand {
      i {
        margin-left: 5px;
        vertical-align: middle;
      }
    }
    
    .breadcrumb {
      padding: 15px 0 0;
      margin-bottom: 0;
      background: none;
      
      i {
        margin-left: 5px;
      }
      
      a.slug-gotourl {
        margin-left: 5px;
        
        &:hover {
          text-decoration: none;
        }
      }
      
      .active {
        i {
          margin-left: 0;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }
  }
  
  
  &__left {
    
  }
  
  &__center {
    
  }
  
  &__right {
    text-align: right;
    
    a {
      line-height: 50px;
      font-size: 14px;
      display: inline-block;
      margin-right: 10px;
      color: $primary-color;
      transition: all 0.25s ease-in;
      
      i, .img-circle {
        font-size: 18px;
        vertical-align: middle;
      }
      
      &:hover {
        color: $secondary-color;
      }
    }
  }
  
  &__bar {
    margin: 0;
    background-color: $base-color-bg;
    height: 35px;

    .panel-container{
      width: 100%;

      .panel{
        left: inherit;;
        right: 0;
      }
    }
    
    ol {
      margin: 0 -15px;
      padding: 8px 15px 8px 30px;
      background-color: transparent;
      float: right;
      
      a {
        color: $secondary-color;
      }
    }
    
    .nav-tabs {
      margin: 0 -15px;
      border-bottom: 0;
      
      li {
        a {
          padding: 0 10px;
          line-height: 34px;
          color: $text-link;
        
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
  
  &__menutoggler {
    
  }
  
  
  .panel-container {
    display: inline-block;
    position: relative;
    height: 100%;
    
    .panel {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      border-radius: 0;
      box-shadow: 0 2px 10px -5px $box-shadow-color;
      
      &#panel-domain {
        width: 230px;
      }
      
      &#panel-lang {
        left: inherit;
        right: 0;
        min-width: 130px;
        
        li {
          &:not(:last-of-type) {
            border-bottom: 1px solid $border-color-light;
          }
          color: $text-color;
          
          a {
            color: $text-link;  
          }
        }
      }
      
      &#panel-account {
        left:inherit;
        right: 0;
        width: 350px;
      }
      
      &-body {
        padding: 15px 0;
        
        ul {
          margin-bottom: 0;  
        }
         
        li {
          margin: 5px 0;
          text-align: left;
          color: $text-color;
          
          span {
            margin: 0 5px 0 2px;  
          }
          
          a {
            line-height: 1;
            padding: 0;
            margin: 0;
            transition: all 0.25s ease-in;
            color: $text-link;
          
            &:hover {
              text-decoration: none;
              color: $text-color;
            }
          }
        }
      }
      
      a {
        line-height: 1;  
        
        &.btn-primary {
          color: $text-color-light;
        }
      }
    }
  }
  
}

.navbar-fixed-top {
  @media(min-width: $screen-sm-min) {
    left: 8.33333333%;
    
    @at-root .-rightview & {
      right: 8.33333333%
    }
  }
  
  @media(min-width: $screen-md-min) {
    left: 16.66666667%;
    
    @at-root .-rightview & {
      right: 16.66666667%
    }
  }
   
}
