.maincontent {
  background: $base-color-bg;
  min-height: 100vh;
  
  @at-root .-rightview & {
    > section {
      margin-left: 10px !important;
    }
  }
}
.pagecontent {
  margin-top: 108px;
  
  &.-notab {
    margin-top: 68px;
  }
  
  .page-preview {
    box-shadow: 0 3px 10px -5px $box-shadow-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    background: $base-color-bg;
    margin-bottom: 15px;
    
    iframe {
      scrollbar-base-color,
      &::-webkit-scrollbar {
        width: 6px;
        background: $tird-color;
      }

      scrollbar-track-color,
      &::-webkit-scrollbar-thumb {
        background: $primary-color;
      }
    }
  }
}