.ffGrid {
  background: white;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.13);
  
  h2 {
    color: $primary-color;
  }
  
  .table {
    
    th { 
      color: white;
      background: $primary-color;
      
      a {
        color: white;
      }
      
      &:last-child {
        border-right: 1px solid $primary-color;
      }
      
      &.active {
        background: $secondary-color;
      }
    }
    
    
      
    td {
        
      &:first-child {
        border-left: 1px solid $light-grey;
      }
        
      &:last-child {
        border-right: 1px solid $light-grey;
      }
        
    }
      
    
    
    tr {
      
      &:last-child {
        border-bottom: 1px solid $light-grey;
      }
      
    }
    
    
    
  }
  
}