.modal {
  
  &-header {
    background: $primary-color;
    color: white;
  }
  
  &-tabs {
    background: $primary-color;
    
    .nav-tabs {
      li {
        
        &.active {
          
          a {
            border-bottom: 3px solid white;
            background: none;
            
            &:hover,
            &:focus {
              background: none;
              border-bottom: 3px solid white;
              color: white;
            }
          }
        }
        
        a {
          border-bottom: 3px solid $primary-color;
          color: white;
          
          &:hover {
            background: none;  
            border-bottom: 3px solid $primary-color;
          }
        }
      }
    }
  }
}

.ff-modal {
  background: rgba(0,0,0, 0.5);
  
  &-highlight {
    
    td {
      color: #FFF;
      border: 1px solid rgba(0, 151, 167, 0.15);
      background: rgba(0, 151, 167, 0.4);
      
      a {
        color: white;
      }
    }
    
  }
}