// Colors

$dark-grey: #263238;
$dark-greyish: #454F54;
$dark-grey-shade: #2B2B2B;
$darkish-grey: #353535;
$grey: #444;
$scroll: #354147;
$soft-white: #FBFBFB;
$soft-grey: #DDD;
$light-grey: #e7e7e7;
$dark-white: #f1f1f1;
$dirty-white: #f5f5f5;
$primary-color: #00838F;
$secondary-color: #0097A7;
$green: #27ae60;
$red: #c0392b;

// Color association:

$menu-bg: $dark-grey;
$page-bg: $dirty-white;
$text-link: $dirty-white;
$menu-item-bg: $dark-greyish;

// Breakpoints

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-hg-min: 1440px;

$roboto: 'Roboto', sans-serif;