.token {
  
  &-input-dropdown {
    border: 1px solid $light-grey;
    background: white;
  }
  
  &-input-token {
    border: 1px solid rgba(0, 131, 143, 0.33);
  }
  
  &-input-delete-token {
    color: white;
    background: $primary-color;
  }
  
}
.autocompletetoken {
  .autocomplete-wrap{
    border-bottom: 2px solid $primary-color;
  }
}
  
