.btn {
  border-radius: 0;
  border: 0;
  
  &-primary {
    background: $secondary-color;
    
    &:hover {
      background: $primary-color;
    }
  }
  
  &-default {
    background: $btn-bg;
  }
  
  &-link {
    color: $text-link;
    
    &:hover {
      text-decoration: none;
      color: $text-link;
    }
  }
  
  &-success {
    background: $primary-color;
    color: white;
    
    &:hover {
      background: $secondary-color;
    }
  }

  &-danger {
    background: white;
    color: $primary-color;
    
    &:hover {
      color: white;
      background: $secondary-color;
    }
  }
}  

.input-group {
  .btn {
    background: $secondary-color;
    color: $soft-white;
    
    &:hover{
      color: white;
      background:$primary-color;
    }
    
    &:active:hover {
      color: white;
      background:$primary-color;
    }
  }
}