.pagination li{
        
    a, span{
        color:$primary-color;

        &:hover, 
        &:focus{
            background:white;
            color:$secondary-color;
        }
    }
        
}

.pagination > .active {
    a, span{
        background:$secondary-color;
        color:white;

        &:hover, 
        &:focus{
            background:$secondary-color;
            color:white;
        }
    }
}